table.files td.icon {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px !important;
  text-align: center;
}

.extfont {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 14px;
}

/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com
 */

@font-face {
  font-family: devicons;
  src: url(chrome-extension://__MSG_@@extension_id__/node_modules/devicons/fonts/devicons.eot?xqxft6);
  src: url(chrome-extension://__MSG_@@extension_id__/node_modules/devicons/fonts/devicons.eot?#iefixxqxft6) format("embedded-opentype"), url(chrome-extension://__MSG_@@extension_id__/node_modules/devicons/fonts/devicons.woff?xqxft6) format("woff"), url(chrome-extension://__MSG_@@extension_id__/node_modules/devicons/fonts/devicons.ttf?xqxft6) format("truetype"), url(chrome-extension://__MSG_@@extension_id__/node_modules/devicons/fonts/devicons.svg?xqxft6#devicons) format("svg");
  font-weight: 400;
  font-style: normal
}

.devicons {
  font-family: devicons;
  font-size: 18px;
  transform: translate(-2px, 2px);
}

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url(chrome-extension://__MSG_@@extension_id__/node_modules/font-awesome/fonts/fontawesome-webfont.eot?v=4.6.3);
  src: url(chrome-extension://__MSG_@@extension_id__/node_modules/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'), url(chrome-extension://__MSG_@@extension_id__/node_modules/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.3) format('woff2'), url(chrome-extension://__MSG_@@extension_id__/node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.6.3) format('woff'), url(chrome-extension://__MSG_@@extension_id__/node_modules/font-awesome/fonts/fontawesome-webfont.ttf?v=4.6.3) format('truetype'), url(chrome-extension://__MSG_@@extension_id__/node_modules/font-awesome/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular) format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  font-family: FontAwesome;
  font-size: 16px;
  transform: translateY(2px);
}
